 $backgroundColor: lightsteelblue;
$font-stack: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$primary-font-color: lightslategrey;

 body {
  text-align: center;
  background-color: $backgroundColor;

  a {
    font-family: $font-stack;
    font-size: 5em;
    margin: 1em;
    color: $primary-font-color;
  }
  
  footer {
    font-family: $font-stack;
    font-size: 1.5em;
    margin: 2em;
    color: $primary-font-color;
  }
    

  header {
    h1 {
      font-family: $font-stack;
      font-size: 5em;
      margin: 1em;
      color: $primary-font-color;
    }
  }

  .count {
    font-family: $font-stack;
    font-size: 6em;
    margin: 0.5em;
    color: white;
  }
  

.negative {
  font-family: $font-stack;
  font-size: 6em;
  margin: 0.5em;
  color: lightseagreen;
}
  

.positive {
  font-family: $font-stack;
  font-size: 6em;
  margin: 0.5em;
  color: paleturquoise;
}
}
  
  

